body {
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.title-page {
    display: block;
    margin: 0 auto;
}

.title-page img {
    display: block;
    margin: 0 auto;
}

.title-page .last-line {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.start-btn {
    margin: 35px auto;
    Width: 450px;
    Height: 114px;
    background-color: #35bd3a;
    box-shadow: 5px 5px 0px 5px #258728;
    border-radius: 8px;
}

.start-btn button {
    background-color: #35bd3a;
    color: white;
    border: none;
    padding: 24px 28px;
    font-size: 57px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}


.main-page {
    display: none;
    margin: 0px;
    padding: 4px 160px 0px 160px;
    background-color: #CCE2C2;
    height: 100%;
}

.sec1 {
    display: flex;
    justify-content: space-between;
}

#img1 {
    width: 298px;
}

#img2 {
    height: 38px;
    margin-left: 64px;
    margin-top: 16px;
    margin-bottom: 21px;
}

.ques-counter {
    Width: 116px;
    Height: 45px;
    background-color: #FEC33D;
    border-radius: 7px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.ques {
    margin-top: 30px;
    Height: 80px;
    background-color: #F5F5F57A;
    border-radius: 13px;
    box-shadow: 0px 2px 0px 6px #e8e8e87a;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    padding-left: 25px;
}

.ques-timer {
    Width: 116px;
    Height: 45px;
    background-color: #02A4096E;
    position: absolute;
    right: 156px;
    top: 259px;
    border-radius: 7px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.sec2 {
    margin-top: 78px;
    Height: 333px;
    background-color: #F5F5F57A;
    border-radius: 13px;
    box-shadow: 0px 2px 0px 6px #e8e8e87a;
    padding: 1px 30px 0px 30px;
}

.opt {
    height: 56px;
    border: solid #D9D9D9;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 19px;
    font-weight: bold;
    padding-left: 25px;
    cursor: pointer;
}

.opt.correct::after {
    content: '✔';
    color: #01AB08;
    position: absolute;
    right: 200px;
}

.opt.wrong::after {
    content: '❌';
    position: absolute;
    right: 200px;
    font-weight: 300;
}

.sec3 {
    display: flex;
    flex-direction: column;
}

.next-btn {
    margin-left: auto;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
    color: #01AB08;
    cursor: pointer;
}

.main-page .last-line {
    height: 30px;
    text-align: center;
}

.result-page {
    display: none;
}

.result-page>div {
    display: flex;
    justify-content: center;
}

.result-page img {
    height: 200px;
}

.result-page p {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-block: 16px;
}

.red-part {
    height: 99px;
    width: 60%;
    background-color: #FF7A7A;
    border-radius: 15px;
    /* background-color: #35BD3A; */
}

.green-part {
    height: 99px;
    width: 60%;
    background-color: #35BD3A;
    border-radius: 15px;
}

.reset-btn {
    margin: 35px auto;
    Width: 235px;
    Height: 64px;
    background-color: #35bd3a;
    box-shadow: 5px 5px 0px 5px #258728;
    border-radius: 8px;
}

.reset-btn button {
    background-color: #35bd3a;
    color: white;
    border: none;
    padding: 16px 28px;
    font-size: 33px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}

.result-page .last-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
}

.vanish {
    display: none;
}

.appear {
    display: block;
}

.yellow {
    background-color: #E4E5C7;
}

.red {
    background-color: #DBADAD;
}

.mid-yellow {
    background-color: #C5B1006E;
}

.drk-yellow {
    color: #C58800;
}

.mid-red {
    background-color: #C50C006E;
}

.drk-red {
    color: #C50000;
}

.green-border {
    border-color: #35BD3A;
}

.red-border {
    border-color: #FF7A7A;
}

.chose {
    display: block;
}

@media(max-width:768px) {
    .title-page {
        height: 100vh;
    }

    .title-page img {
        width: 80%;
    }

    .start-btn {
        margin: 150px auto;
        Width: 295px;
        Height: 72px;
    }

    .start-btn button {
        padding: 23px 70px;
        font-size: 23px;
    }

    .main-page {
        padding: 0px 12px 0px 12px;
    }

    .sec1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .group-1 {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }

    #img2 {
        height: 38px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .ques-timer {
        Width: 106px;
        Height: 43px;
        left: 50%;
        transform: translateX(-50%);
        top: 274px;
    }

    .ques {
        margin-top: 20px;
        Height: 64px;
        font-size: 20px;
        padding-left: 18px;
    }

    .sec2 {
        Height: 316px;
    }

    .opt {
        margin-top: 12px;
        font-size: 15px;
    }

    .opt.correct::after {
        right: 16%;
    }

    .opt.wrong::after {
        right: 14%;
    }

    .next-btn {
        margin-top: 22px;
        font-size: 20px;
    }

    .result-page img {
        width: 90%;
        height: auto;
    }

    .result-page p {
        font-size: 25px;
    }

    .red-part {
        height: 75px;
        border-radius: 10px;
    }

    .green-part {
        height: 75px;
        border-radius: 10px;
    }
}

@media(max-width:400px) {
    .start-btn {
        margin: 210px auto;
        Width: 242px;
        Height: 55px;
    }

    .start-btn button {
        padding: 17px 60px;
        font-size: 18px;
    }

    .last-line {
        font-size: 11px;
    }

    .reset-btn {
        Width: 200px;
        Height: 55px;
    }
    .result-page {
      padding-inline: 6px;
}
}
