* {
    box-sizing: border-box;
}

body {
    background-color: rgba(72, 163, 0, 0.07);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

main {
    padding: 0 16px 32px;
}

.title {
    font-size: 64px;
    color: rgba(72, 163, 0, 1);
    text-align: center;
}

.title span {
    color: rgba(97, 72, 28, 1);
}

.app-container {
    background-color: rgba(251, 251, 251, 1);
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 32px 48px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

.subtitle {
    font-size: 32px;
    display: flex;
}

.svg-container {
    position: relative;
}

.svg {
    position: absolute;
    top: 0;
    left: 0;
}

.sun-back {
    z-index: 1;
    animation: rotating 3s linear infinite;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sun-face {
    z-index: 2;
    left: 20px;
    top: 21px;
}

.sun-icon {
    vertical-align: middle;
    margin: 10px;
}

.progress-label {
    font-size: 14px;
    color: rgba(133, 133, 133, 1);
    margin-bottom: 18px;
}

.progress-bar {
    height: 30px;
    background-color: rgba(72, 163, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 50px;
}

.progress-value {
    height: 100%;
    width: 0%;
    background-color: rgba(72, 163, 0, 1);
    border-radius: 15px;
    font-size: 10px;
    font-weight: 500;
    color: rgba(238, 255, 224, 1);
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.4s ease-in-out;
}

.progress-value span {
    padding-left: 20px;
    min-width: max-content;
}

.error-label {
    color: rgba(255, 81, 81, 1);
    font-size: 14px;
    display: none;
}

.show-error .error-label {
    display: block;
}

.goal-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: #ffffff;
    margin-bottom: 42px;
}

.custom-checkbox {
    height: 24px;
    width: 24px;
    border: 1px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.check-icon {
    display: none;
}

.goal-input {
    border: none;
    padding: 0px 0px 0px 22px;
    font-family: inherit;
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

.goal-input::placeholder {
    color: rgba(217, 217, 217, 1);
}

.quote {
    font-weight: 500;
    text-align: center;
    margin-top: 56px;
}

.made-with {
    text-align: center;
    color: rgba(133, 133, 133, 1);
    font-size: 10px;
    font-weight: 500;
    margin-top: 64px;
}

.completed .custom-checkbox {
    border-color: #48A300;
    background-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration-line: line-through;
}

@media(max-width:768px) {
    .title {
        font-size: 32px;
    }

    .app-container {
        padding: 16px 32px;
    }

    .goal-container {
        height: 64px;
        margin-bottom: 24px;
        border-radius: 12px;
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
    }

    .made-with {
        margin-top: 32px;
    }

    .progress-bar {
        height: 24px;
    }
}