div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#green {
    width: 400px;
    height: 300px;
    background-color: green;
}

#pink {
    width: 300px;
    height: 200px;
    background-color: hotpink;
}

#blue {
    width: 200px;
    height: 100px;
    background-color: skyblue;
}
#btn1 {
    background-color: rgb(201, 250, 4);
}
#btn2 {
    background-color: rgb(4, 197, 250);
}