* {
            padding: 0;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            background-color: rgb(216, 216, 216);
        }

        .nav1 {
            height: 65px;
            width: 100%;
            background-color: rgb(27, 26, 26);
            display: flex;
            align-items: center;
            gap: 2px;
        }

        .logo img {
            width: 140px;
        }

        .address {
            height: 55px;
            width: 109px;
            color: white;
        }

        .a1 {
            color: grey;
            font-weight: 500;
            width: 95px;
            margin-left: 16px;
        }

        .a2 img {
            width: 25px;
            height: 21px;
        }

        .search {
            display: flex;
            align-items: center;
        }

        .inp input {
            width: 750px;
            height: 38px;
            font-size: 15px;
        }

        .mustard {
            height: 40px;
            width: 40px;
            background-color: #ffa200;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
        }

        .mustard img {
            margin-top: 8px;
            margin-left: 6px;
        }

        .lang {
            margin-left: 20px;
            height: auto;
            display: flex;
            font-weight: 600;
            color: white;
            align-items: center;
        }

        .drop {
            margin-top: 5px;
        }

        .hello {
            margin-left: 20px;
        }

        .hi {
            color: white;

            font-size: 14px;
        }

        .account {
            color: white;
            font-weight: 600;
        }

        .accd img {
            height: 9px;
            margin-top: 30px;
        }

        .ro {
            margin-left: 10px;
            color: white;
        }

        .cart {
            height: auto;
            margin-left: 20px;
            color: white;
            font-weight: 700;
        }

        .cart img {
            width: 50px;
        }



        .nav2 {
            height: 40px;
            width: auto;
            background-color: #2a2a3e;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            color: white;
            gap: 15px;
        }

        .nav2a {
            margin-left: 20px;
        }

        .main1 {
            height: 956px;
        }

        .main1 img {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        .fade {
            width: 100%;
            height: auto;
            mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
            -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        }

        .sec1 {
            display: flex;
            gap: 60px;
            justify-content: space-evenly;
        }

        .first {
            height: 340px;
            width: 320px;
            background-color: rgb(255, 255, 255);
            /* margin-top: 245px; */
            position: relative;
            z-index: 2;
            top: -337px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 21px;
        }

        .text {
            font-weight: 600;
            font-size: 28px;
        }

        .first img {
            height: 260px;
            width: 254px;

        }

        .second {
            height: 340px;
            width: 320px;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 21px;
        }

        .sec2 {
            display: flex;
            gap: 60px;
            justify-content: space-evenly;
            position: relative;
            top: -300px;
        }

        .second img {
            height: 260px;
            width: 254px;

        }

        .back {
            height: 30px;
            background-color: #303053;
            width: 100%;
            position: absolute;
            top: 1100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;

        }

        @media screen and (max-width: 1440px) {

            .inp input {
                width: 500px;
                height: 38px;
                font-size: 15px;
            }
        }

        @media screen and (max-width: 1200px) {

            .inp input {
                width: 300px;
                height: 38px;
                font-size: 15px;
            }
        }

        .footer {
            margin-top: 69px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 30px;
            text-align: left;
            background-color: #1f1f36;
        }

        .footerbox {
            max-width: 50vw;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            column-gap: 50px;
            row-gap: 30px;
        }

        .footer span {
            color: white;
            margin-bottom: 30px;
        }

        .footer a {
            text-decoration: underline;
            cursor: pointer;
            color: white;
        }