.focus{
    background-color: #f10404;
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.blur{
    background-color: #1404f1;
    color: rgb(6, 244, 244);
    font-family: monospace;
}