   body {
            background-color: #1A1A1C;
            background-image: url(assets/BG.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }



        .nav {
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;
        }

        .navi {
            color: white;
            margin-top: 55px;
            display: flex;
            flex-direction: column;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .home {
            color: yellow;
        }

        .navi img {
            width: 30px;
            margin-left: 6px;
        }

        .film img {
            margin-left: 4px;
        }

        .career img {
            margin-left: 10px;
        }


        .services img {
            margin-left: 12px;
        }

        .contact img {
            margin-left: 15px;
        }



        .scrolling-container {
            width: 100%;
            overflow: hidden;
            background-color: #000;
            /* Optional: dark background */
        }

        .scrolling-images {
            display: flex;
            width: max-content;
            animation: scroll-left 60s linear infinite;
        }

        .scrolling-images img {
            height: 406px;
            margin-right: 10px;
            flex-shrink: 0;
        }



        .spacer {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: white;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
            gap: 40px;
            margin: 53px;
            letter-spacing: 4px;
        }

        .spacer img {
            width: 200px;
            height: 2px;
        }



        .sec1 {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        .banner {
            background-image: url(assets/name-banner.png);
            height: 66px;
            width: 249px;
            background-repeat: no-repeat;
            margin-top: -33px;
            margin-left: 106px;
            position: relative;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .sec2 {
            margin-top: 60px;
            display: flex;
            justify-content: center;
        }



        .lv {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .lv1 {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        .lva {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 21px;
        }

        .info {
            color: rgb(157, 157, 157);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 14px;
        }



        .spacing {
            height: 100px;
        }



        .footer1 {
            background-color: white;
            height: 350px;
            background-image: url(assets/BG2.png);
            background-repeat: no-repeat;
            background-position: right;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .spacer2 {
            display: flex;
            justify-content: center;
            font-size: 20px;
            color: rgb(0, 0, 0);
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 400;
            gap: 40px;
            letter-spacing: 4px;
            padding-top: 49px;
        }

        .spacer2 img {
            width: 200px;
            height: 1px;
        }

        .content {
            width: 80%;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
        }

        .c1 {
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .rm {
            background-image: url(assets/name-banner.png);
            height: 66px;
            width: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 500;
        }

        .footer2 {
            display: flex;
            height: 130px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 13px;
        }

        .f1 {
            display: flex;
            justify-content: center;
        }

        .f1 ul {
            margin: 0;
            padding: 0;
            display: flex;
            gap: 25px;
        }

        .f1 li {
            list-style: none;
            color: white;
        }

        .f1 ul span li {
            color: yellow;
        }

        .f2 {
            display: flex;
            gap: 15px;
        }

        .last {
            color: white;
            font-size: 13px;
        }

        .last span {
            color: yellow;
        }


        @keyframes scroll-left {
            0% {
                transform: translateX(0%);
            }

            100% {
                transform: translateX(-50%);
            }
        }